// Your custom SCSS should be written here...


.form_error {
	color: #CA3838;
	font-size: 0.875rem;
	margin-bottom: 10px;
	margin-top: -15px;
	text-align: right;
}

td {
	padding: 10px;
	border-top: 1px solid #CCC;
}

th {
	text-align: center;
	font-weight: bold;
}

table {
	width: 100%;
}

.table_center {
	text-align: center;
}

.row {
	margin-bottom: 20px;
}

.well {
	background-color: #ccc;
	padding: 10px;
}